*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*========FONTS IMPORTADAS=======*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/*font-family: 'Dancing Script', cursive;*/

:root{
    --rojito: #ff5757;
    --marroncito: #7b5d5b;
    --letracurva: 'Dancing Script', cursive;
    --azulito: #38b6ff;
    --positionNav: fixed;
    --section-top: 60px;
    --azulTransparente: rgba(0, 90, 207, 0.75);;
}


html{
    scroll-behavior: smooth;
}

/*===============NavBar================*/
nav > .nav-images > .contenedor-logo{
    width: 100%;
    height: auto;
}


nav > .nav-images > .contenedor-logo > #logo{
    z-index: 4;
    position: var(--positionNav);
    top: 10px;
    left: calc(50% - 40px);
    width: 80px;
    filter: drop-shadow(0 2px 5px rgba(109, 109, 109, 0.7));
}

nav > .nav-images > .background-nav{
    margin: 0;
    position: var(--positionNav);
    font-size: 10px;   
    font-weight: bold; 
    text-align: center;
    transition: .3s;
    
}
nav > .nav-images > .background-nav:nth-of-type(1){
    z-index: 3;
    top: -5px;
    left: 0;
    right: 0;
    height: 80px;

    display: grid;
    grid-template-columns: minmax(167px, 335px) 100px minmax(167px, 335px);
    justify-content: center;
    align-items: center;

    background-image: url(../img/backgrounds/nav-cake+cake.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 2px 5px rgba(204, 113, 113, 0.7));
}
nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(2){
    grid-column: 1/2;
    justify-self: end;
}
nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(3){
    grid-column: 3/4;
    justify-self: start;
}
nav > .nav-images > .background-nav:nth-of-type(2){
    z-index: 3;
    right: 10px;
    bottom: 100px;
    padding-bottom: 7px;
    border-radius: 10px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
nav > .nav-images > .background-nav.hide{
    right: -100%;
}
nav > .nav-images > .hamburger-btn {
    z-index: 9999;
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    transition: .3s;
} 
nav > .nav-images > .background-nav > .nav-item > a{
    padding: 7px;
    font-size: 20px;
    color: var(--rojito);
    /* font-size: 30px; */
    font-family: 'Dancing Script', cursive;
    /* font-weight: 600; */
} 

.background-cover{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.carousel > .carousel-inner > .background-cover:nth-of-type(1){
    background-image: url(../img/carousel/ponq1.jpg);
}
.carousel > .carousel-inner > .background-cover:nth-of-type(2){
    background-image: url(../img/carousel/ponq1.jpg);
}
.carousel > .carousel-inner > .background-cover:nth-of-type(3){
    background-image: url(../img/carousel/ponq1.jpg);
}



/*===============VENTANA PRODUCTOS================*/

#galeria-productos{
    padding-top: var(--section-top);
    font-family: var(--letracurva);
    background-image: url(../img/backgrounds/background-galeria.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(300px, 768px);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
#galeria-productos > .titulos{
    color: var(--rojito);
    text-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
    border-bottom: 2px solid var(--rojito);
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#galeria-productos > .titulos > h1{
    font-size: 60px;
}
#galeria-productos > .galeria{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    justify-content: center;
}
#galeria-productos > .galeria > .img-container{
    transition: .3s;
    cursor: pointer;
}
#galeria-productos > .galeria > .img-container > img{
    width: 100%;
    border: 2px solid var(--rojito);
}

/*=====================Ventana de Servicios===================*/

#servicios{
    padding-top: var(--section-top);
    position: relative;
    font-family: var(--letracurva);
    background-image: url(../img/backgrounds/background-galeria.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    /* grid-template-rows: auto auto 350px; */
    justify-content: center;
    align-content: center;
}
#servicios > h1{
    font-size: 60px;
    margin: 0;
    color: var(--rojito);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
}
#servicios > hr{
    width: 100px;
    border-top: 3px solid var(--rojito);
    justify-self: center;
}
#servicios > .servicios-container{
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
    background-color: var(--azulTransparente);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    padding: 20px;
}
#servicios > .servicios-container > .imagen > img{
    width: 300px;
    height: 100%;
    border-radius: 20px;
}
#servicios > .servicios-container > .descripcion-servicios{
    color: #fff;
    font-family: var(--letracurva);
    font-size: 20px;
    text-align: center;
}
#servicios > .servicios-container > .descripcion-servicios > p{
    margin: 0;
    /* padding-left: 25px; */
}


/*======================Ventana de Contacto=====================*/
#contacto{
    
    padding-top: var(--section-top);
    position: relative;
    font-family: var(--letracurva);
    font-weight: bold;
    /* height: 100vh; */
    background-image: url(../img/backgrounds/background-galeria.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(300px, 800px);
    /* grid-template-rows: auto auto 350px; */
    justify-content: center;
    align-content: center;
}
#contacto > h1,
#contacto > hr,
#contacto > .contact-container{
    z-index: 2;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}
#contacto > h1{
    font-size: 60px;
    color: var(--rojito);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
}
#contacto > hr{
    width: 100px;
    border-top: 3px solid var(--rojito);
    justify-self: center;
}
#contacto > .contact-container{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--azulTransparente);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
}
#contacto > .contact-container > .form-social-networks{
    /* border: 1px solid #fff; */
    display: grid;
    grid-template-columns: minmax(100px, 300px);
    grid-template-rows: repeat(4, auto);
    grid-gap: 15px;
    align-content: center;
    justify-content: center;
    padding: 15px;
}
#contacto > .contact-container > .form-social-networks > li{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    font-size: 20px;
}
#contacto > .contact-container > .form-social-networks > li > i{
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-radius: 50%;
}

#contacto > .contact-container > hr{
    border: 0;
    width: 100%;
    border-bottom: 5px solid #fff;
}
#contacto > .contact-container > form{
    /* border: 1px solid #fff; */
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
}
#contacto > .contact-container > form > .input-container{
    text-align: start;
    display: grid;
    grid-template-columns: .8fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
}
#contacto > .contact-container > form > .input-container > label{
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: block;
}
#contacto > .contact-container > form > .input-container > input{
    border: none;
}
#contacto > .contact-container > form > .input-container > button{
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 50px;
    border: none;
    border: 3px solid rgb(3, 183, 255);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}
/* #contacto > .contact-overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--azulTransparente);
} */

/*======================Ventana de QUIENES SOMOS=====================*/
#nosotros{
    padding-top: 100px;
    font-family: var(--letracurva);
    text-align: center;
    display: grid;
    background-color: #fefdfe;
    grid-template-columns: minmax(150px, 540px);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}
#nosotros > .nosotros-description > h1,
#nosotros > .nosotros-description > h2{
    margin-bottom: 20px;
    color: var(--rojito);
    font-weight: bold;
}
#nosotros > .nosotros-description > h2{
    /* font-family: 'roboto', sans-serif; */
    color: #2396d8;
    font-size: 40px;
}
#nosotros > .nosotros-description > p{
    font-weight: 500;
    color: var(--marroncito);
}
#nosotros > .img-container > img{
    width: 100%;
    border-radius: 40px;
}

/*======================Ventana de PROMOCIONES=====================*/

#promociones {
    padding-top: var(--section-top);
    font-family: var(--letracurva);
    background-image: url(../img/backgrounds/background-galeria.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: minmax(300px, 1440px);
    grid-template-rows: auto auto;
    justify-content: center;
    grid-gap: 40px;
}
#promociones > h1{
    margin: 0 auto;
    padding-top: 30px;
    color: var(--rojito);
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
    border-bottom: 2px solid var(--rojito);
}
#promociones > .contenedor-promo{
    display: grid;
    grid-template-columns: repeat(2,minmax(300px, 500px));
    justify-content: center;
    grid-gap: 20px;
}
#promociones > .contenedor-promo > .img-promo{
    justify-self: right;
    align-self: center;
}
#promociones > .contenedor-promo > .img-promo > img{
    /* margin-top: 20px; */
    border-radius: 20px;
    filter: drop-shadow(0 2px 5px rgba(204, 113, 113, 0.7));
}
#promociones > .contenedor-promo > .descripcion-promo{
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffffcc;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: center;
}
#promociones > .contenedor-promo > .descripcion-promo > .titulos{
    color: var(--rojito);
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);

}
#promociones > .contenedor-promo > .descripcion-promo > .promo{
    font-size: 25px;
    color: var(--marroncito);
}
#promociones > .contenedor-promo > .descripcion-promo > .precio{
    /* font-family: 'Parisienne', cursive; */
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #7b5d5b;
    background: #38b6ff;
    border-radius: 10px;
}

/*======================FOOTER=====================*/
#faq{
    padding-top: calc(var(--section-top) + 30px) ;
    padding-bottom: 30px;
    text-align: center;
    font-family: var(--letracurva);
    font-weight: bold;
    background-image: url(../img/backgrounds/background-galeria.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
#faq > hr{
    width: 100px;
    border-top: 3px solid var(--rojito);
    justify-self: center;
}
#faq h1,
#faq h2{
    color: var(--rojito);
}
#faq > article{
    padding: 20px 0;
}
#faq > article:first-of-type{
    padding-top: 0;
}
#faq p{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
}

footer > .footer-body {
    display: grid;
    grid-template-columns: 1fr;
    color: #fff;
    text-align: center;
    font-family: "Roboto",sans-serif;
    background-image:  url(../img/backgrounds/background-galeria.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
footer > .footer-body > .contenedor-delgado {
    background: var(--azulito);
    font-size: 12px; 
    padding: 10px;
    font-weight: bold;
}
footer > .footer-body > .contenedor-medio {
    position: relative;
}
footer > .footer-body > .contenedor-medio > .enlaces{
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(48px, 100px));
    justify-content: center;
    margin: 0;
    padding: 20px 30px;
}
footer > .footer-body > .contenedor-medio > .enlaces > li > a{
    color: #fff;
}
footer > .footer-body > .contenedor-medio > .enlaces > li{
    transition: .3s;
    cursor: pointer;
}
footer > .footer-body > .contenedor-medio > .enlaces > li:hover{
    transform: scale(1.2);
}
footer > .footer-body > .contenedor-medio > .footer-overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(120, 101, 90, 0.5);
}


@media screen and (min-width: 768px){
    :root{
        --section-top: 120px;
    }
    /* 223 */
    nav > .nav-images > .contenedor-logo > #logo{
        width: 150px;
        left: calc(50% - 75px);
    }
    nav > .nav-images > .background-nav:nth-of-type(1){
        /* grid-template-columns: repeat(2, minmax(167px, 335px)) 100px repeat(2, minmax(167px, 335px)); */
        /* grid-template-columns: repeat(3, minmax(167px, 223px)) 100px repeat(3, minmax(167px, 223px)); */
        grid-template-columns: repeat(3, 1fr) 100px repeat(3, 1fr);
        font-size: 40px;
    }
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(2),
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(3){
        justify-self: unset;
    }
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(1){
        grid-column: 1/2;
    }
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(2){
        grid-column: 2/3;
    }
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(3){
        grid-column: 3/4;
    }
    nav > .nav-images > .background-nav:nth-of-type(1) > li:nth-of-type(4){
        grid-column: 5/6;
    }
    nav > .nav-images > .background-nav > .nav-item > a{
        font-size: 20px;
        /* text-shadow: 2px 2px 2px rgb(153, 153, 153); */
    }
    nav > .nav-images > .contenedor-preguntas{
        z-index: 3;
        position: fixed;
        width: auto;
        padding: 10px;
        left: 20px;
        bottom: 0;

        color: var(--rojito);
        font-size: 15px;
        font-family: var(--letracurva);
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 2px 2px 2px rgba(109, 109, 109, 0.7);
        transition: .3s;
        transform-origin: bottom left;
    }
    nav > .nav-images > .contenedor-preguntas:hover{
        color: var(--rojito);
        transform: scale(1.4);
    }

    #galeria-productos > .galeria{
        grid-template-columns: repeat(3, minmax(100px, 200px));
    }
    #galeria-productos > .galeria > .img-container:hover{
        transform: scale(1.2);
    }

    #servicios{
        grid-template-columns: minmax(300px, 800px);
    }
    #servicios > .servicios-container{
        grid-template-columns: auto 1fr;
        grid-template-rows: 300px;
    }
    #servicios > .servicios-container > img{
        height: 100%;
        width: unset;
    }

    #nosotros{
        padding-top: 180px;
        grid-template-columns: minmax(200px, 500px) minmax(200px, 400px);
        align-items: center;
    }
    

    #contacto > .contact-container{
        grid-template-columns: 1fr auto 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }
    #contacto > .contact-container > .form-social-networks{
        justify-content: end;
    }
    #contacto > .contact-container > hr{
        width: unset;
        border-bottom: none;
        height: 300px;
        border-right: 5px solid #fff;
    }
    #contacto > .contact-container > form > .input-container{
        grid-template-columns: .8fr;
    }

    #promociones > .contenedor-promo{
        grid-template-columns: minmax(300px, 400px) minmax(300px, 500px);
        grid-gap: 10px;
    }
}
@media screen and (min-width: 992px){
    nav > .nav-images > .background-nav > .nav-item > a{
        font-size: 30px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width:1500px){


    #nosotros{
        grid-gap: 40px;
        grid-template-columns: repeat(2,minmax(540px, 800px));
    }
    #nosotros > .nosotros-description{
        width: auto;
    }
    #nosotros > .nosotros-description > h1{
        font-size: 60px;
    }

    #nosotros > .nosotros-description > h2{
        font-size:55px;
    }

    #nosotros > .nosotros-description > p{
        font-size: 30px;
        width: 100%;
    }

    #nosotros > .img-container > img{
        width: minmax(500px - 800px);
        height: auto;
    }

    #galeria-productos{
        grid-template-columns: minmax(540px, 1000px);
    }

    #galeria-productos > .titulos > h1{
        font-size: 80px;
    }

    #galeria-productos > .galeria{
        grid-template-columns: repeat(3, minmax(250px, 500px));
        grid-gap: 30px;
    }

    #galeria-productos > .galeria > .img-container > img{
        width: 100%;
        height: auto;
        border: 2px solid var(--rojito);
    }

    #servicios{
        grid-template-columns: minmax(600px, 1000px);
   
    }

    #servicios > h1{
        font-size: 80px;
    }
    #servicios > hr{
        width: 150px;
    }

    #servicios > .servicios-container{
        grid-template-columns: repeat(2, minmax(500px - 900px));
        grid-template-rows: auto;
        grid-gap: 40px;
        background-color: var(--azulTransparente);
        /* width: 1200px; */
        width: 1100px;
        height: 50vh;
        margin-bottom: 100px;
    }

    #servicios > .servicios-container > .imagen{
        width: 400px;
        height: auto;
    }

    #servicios > .servicios-container > .imagen > img{
        width: 40vh;
        height: auto;
        margin: 20px;
    }

    #servicios > .servicios-container > .descripcion-servicios > p{
        font-size: 25px ;
        margin: 10px;
        padding: 20px;
        /* padding-left: 25px; */
    }

    #promociones{
        grid-gap: 50px;
    }

    #promociones > h1{
        font-size: 80px;
    }
    
    #promociones > .contenedor-promo{
        grid-template-columns: repeat(2,minmax(500px - 900px));
        margin-top: 80px;
        margin-bottom: 100px;
    }

    #promociones > .contenedor-promo > .img-promo{
        width: 50vh;
    }

    #promociones > .contenedor-promo > .img-promo > img{
        width: 100%;
        height: auto;
    }

    #promociones > .contenedor-promo > .descripcion-promo{
        width: 100%;
        height: auto;
    }

    #promociones > .contenedor-promo > .descripcion-promo > .titulos{
        font-size: 60px;
    }

    #promociones > .contenedor-promo > .descripcion-promo > .promo{
        font-size: 25px;
        color: var(--marroncito);
        margin-left: 40px;
        margin-right: 30px;
    }

    #promociones > .contenedor-promo > .descripcion-promo > .precio{
        font-size: 40px;
    }

    #contacto{
        grid-template-columns: minmax(800px, 1000px);
    }

    #contacto > h1{
        font-size: 80px;
    }

    #contacto > .contact-container{
        margin-top: 80px;
        margin-bottom: 100px;
        width: 100vh;
        font-size: 30px;
    }
    
    #contacto > .contact-container > .form-social-networks > li > span{
        font-size: 20px;
        margin: auto 0;
    }
   
    #faq > h1{
        font-size:60px;
    }

    #faq > hr{
        width: 300px;
        margin-bottom: 50px;
    }

    #faq > article > h2{
        font-size: 40px;
    }
    
    #faq > article > p{
        font-size: 30px;
    }

    #footer > .footer-body > .contenedor-delgado > span{
        font-size: 20px;
    }

    #footer > .footer-body > .contenedor-medio > .enlaces > li{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}