*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    background: rgba(255, 255, 255, 0);
}

nav > a > .contenedor-logo{
    width: 100%;
    height: auto;
}

nav > a > .navbar-imagen{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
}  

nav > a > div > #logo{
    width: 25%;
    height: 20vh;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
    
 

.background-cover{
    height: 100vh;
    background-image: url(../img/ponq1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: grid;
    grid-template-columns: .9fr;
    grid-template-rows: auto auto 100px;
    justify-content: center;
    align-content: center;
    /* position: relative;
    z-index: 1; */
    
    
}